<p><text>Name: </text>@Model.GetName()</p>
<p><text>Email: </text>@Model.GetEmail()</p>
<p><text>First Appt: </text>@Model.GetFirstAppt()</p>

<!-- <a href='/clients/new'>Add stylist</a> -->
<a href='/'>Go Home!</a>

<!-- Model refers to whatever is passed into the View's parameters. In this case it's return View(client); -->
