<h2>Add a new client: </h2>
<form action="/clients" method="post">
  Name: <input name="client-name" type="text" required>
  Email: <input name="client-email" type="email" required>
  First Appt: <input name="client-first-appt" type="date" required>
  <button type="submit">Submit</button>
</form>
