<p><text>Name: </text>@Model.GetName()</p>
<p><text>Email: </text>@Model.GetEmail()</p>
<p><text>Startdate: </text>@Model.GetStartDate()</p>
<p>Clients:</p>
<ul>
  @foreach(var client in Model.GetClients())
  {
    <li>@client.GetName()</li>
  }
</ul>


<h3><a href="/clients/new">Add Client</a><h3>

<!-- <a href='/stylists/new'>Add stylist</a> -->
<a href='/'>Go back!</a>

<!-- Model refers to whatever is passed into the View's parameters. In this case it's return View(stylist); -->
