
<h1>Stylists</h1>
<h2>Add a new stylist:</h2>
<form action="/stylists" method="post">
  <label for="new-item">Item description:</label>
  <input id="new-item" name="new-item" type="text">
  <button type="submit">Add item</button>
</form>
