{
  border: 1px dotted red;
}

body{
  background-color: #7E8F7C;
}

#stylist-list{
    list-style-type: none;
    color: white;
    margin: auto;
    margin: 20px;
  }

#client-list{
  color: white;
  margin: auto;
  margin: 20px;
}

#all-clients{
  color: darkgray;
}

form{
  text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #7E8F7C;
  text-align: center;
}
