@{
  Layout = "_Layout";
}

<!--each new list item is an instance of the Stylist class-->
<div class="jumbotron">
  <h1>Clients</h1>
  <ul>
    @foreach (var client in Model)
    {
      <li><a href='/clients/@client.GetId()'>@client.GetName()</a></li>
    }
  </ul>
  <form action="/clients/delete" method="post">
    <button class="btn btn-danger" type="submit" name="button">Clear all Clients</button>
  </form>

  <p><a href="/">Home</a></p>
</div>
