@{
  Layout = "_Layout";
}

<!--each new list item is an instance of the Stylist class-->
<div class="jumbotron">
  <p><a href="/">Home</a></p>
  <h1>Clients</h1>
  @foreach (var client in Model)
    {
      <h4 id="client-list"><a href='/clients/@client.GetId()'>@client.GetName()</a></h4>
    }
</div>

<div class="footer">
  <form action="/clients/delete" method="post">
    <button id="clear-clients" class="btn btn-danger" type="submit" name="button">Clear all Clients</button>
  </form>
</div>
