@{
  Layout = "_Layout";
}

<!--each new list item is an instance of the Stylist class-->
<header>
  <a id="all-clients" href="/clients">View all clients</a>
</header>
<div class="jumbotron">
  <h1>Stylists</h1>
  <ul>
    @foreach (var stylist in Model)
    {
      <li><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></li>
    }
  </ul>
  <p><a href="/stylists/new">Add Stylist</a></p>
  <form action="/stylists/delete" method="post">
    <button class="btn btn-danger" type="submit" name="button">Clear all Stylists</button>
  </form>

</div>

<!-- RUN - apm install language-cshtml in terminal to override default plain text -->
