@{
  Layout = "_Layout";
}

<!--each new list item is an instance of the Stylist class-->
<div class="jumbotron">
  <h1 id="salon-name">Snappy Snips</h1>
  <p><a id="all-clients" href="/clients">View all clients</a></p>
  <p><a id="all-specialties" href="/specialties">View all specialties</a></p>
  <p style="display:inline-block;"><a href="/specialties/new">Add specialty</a></p>
  <h2>Stylists</h2>
    @foreach (var stylist in Model)
    {
      <h3 id="stylist-list"><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a> |<a id="edit" href="/stylists/@stylist.GetId()/update"> Edit</a></h3>
    }
  <p class="left-shift" style="display:inline-block;"><a href="/stylists/new">Add</a></p>
</div>

<div class="footer">
  <form action="/stylists/delete" id="clear-stylists" method="post">
    <button class="btn btn-danger" type="submit" name="button">Clear all Stylists</button>
  </form>
</div>


<script>
  $(document).ready(function(){
    $("#clear-stylists").submit(function(event) {
      var doDelete = confirm("Are you sure you want delete all stylists?");
      if (!doDelete) {
        event.preventDefault();
      }
    });
  });
</script>

<!-- RUN - apm install language-cshtml in terminal to override default plain text -->
