<style media="screen">

  li{
    list-style-type: none;
    background-color: lightgreen;
    display: inline;
    padding: 10px;
    font-family: helvetica;
    border-radius: 10px;
  }

</style>


<!--each new list item is an instance of the Stylist class-->

<h1>Stylists</h1>
<ul>
  @foreach (var stylist in Model)
  {
    <li><a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a></li>
  }
</ul>
<p><a href="/stylists/new">Add Stylist</a></p>
<form action="/stylists/delete" method="post">
  <button type="submit" name="button">Clear all Stylists</button>
</form>

<h2><a href="/clients">View all clients</a></h2>
